.image-display {
  width: 80%;
  max-width: 600px;
  height: auto;
}

.image-overlay-container {
  position: relative;
  /* width: 80%; */ /* or a fixed width */
  /* max-width: 600px; */
}

.image-overlay-container img {
  width: 100%;
  height: auto;
  display: block;
}

.background-image {
  position: relative;
  z-index: 1;
}

#overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.image-option {
  text-align: center;
  width: 300px;
}

.image-option p {
  text-align: center;
}

.image-option button {
  all: unset;
  display: block;
  width: 100%;
}

.image-option img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.image-option img:hover {
  transform: scale(1.2);
  z-index: 2;
}

.delete-segment-btn {
  background-color: transparent;
  border: 2px solid red;
  color: red;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-weight: bold;
  cursor: pointer;
  line-height: 18px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-segment-btn:hover {
  background-color: red;
  border-color: red;
  color: white;
}

.segment-row {
  display: flex;
  align-items: center;
  margin: 8px 0;
  gap: 10px; /* space between input and button */
  justify-content: flex-start;
}

.segment-row input {
  padding: 0.75rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-segment-btn {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 8px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
  margin: 0 0 20px;
}

.add-segment-btn:hover .add-icon {
  background-color: #28a745;
  border: 1px solid #28a745;
  color: white;
  filter: brightness(1.1);
}

.add-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #28a745;
  font-weight: bold;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 24px;
  flex-shrink: 0;
}

.add-text {
  font-weight: 500;
  font-size: 16px;
  color: #333;
  white-space: nowrap;
}

.matrix-error {
  font-size: 0.9em;
  font-style: italic;
  white-space: nowrap;
}

.segmentation-ribbon {
  display: flex;
  gap: 8px;
  padding: 10px 0;
  overflow-x: auto;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.ribbon-thumbnail {
  height: 60px;
  opacity: 0.6;
  border: 2px solid transparent;
  cursor: pointer;
  transition: opacity 0.3s, border 0.3s;
  object-fit: cover;
}

.ribbon-thumbnail.current {
  opacity: 1;
  border-color: #000;
}

.favorite-icon {
  position: absolute;
  top: -8px;
  right: -8px;
  font-size: 24px;
  background-color: transparent;
  border: 2px solid #bbb;
  color: white;
  background-color: #bbb;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-weight: bold;
  cursor: pointer;
  line-height: 18px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favorite-icon.filled {
  background-color: red;
  border: 2px solid red;
  color: white;
}

.favorite-icon:hover {
  background-color: red;
  border: 2px solid white;
  color: white;
}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  font-family: sans-serif;
}

.table-head {
  display: flex;
  background: blue;
  border-bottom: 1px solid #e5e7eb;
}

.table-header-row {
    display: flex;
 
}

.table-header-row-corner {
  flex: 1;
  padding: 12px 16px;
  text-align: left;
}

.label-cell {
  background-color: #28a745;  
  flex: 1;
  padding: 12px 16px;
  text-align: center;
}
