<h3>The feedback is given as follows to the AI:</h3>

<img src="/media/tutorial/confusion-matrix.png" style="width: 25vw" />
<p>From the <b>red segment</b> on the image, 20% should be allocated to the tracks 
segment and 80% to the building segment.</p>
<p>From the <b>green segment</b> on the image, 10% should be allocated to the tracks
segment and 30% to the vegetation segment. This feedback is not valid: the whole 100%
should be allocated to one of your segments!</p>
<p>From the <b>blue segment</b>, 100% should be allocated to the buildings segment.</p>
<p>Don't forget the two golden rules:</p>
<ul>
<li>The percentages on each line must sum to 100.</li>
<li>Each column must be present in at least one row.</li>
</ul>
